<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new registration!</p>
    <p>
    Order details<br>
    --------------------------
    </p>
    <p>Name: Alishba</p>
    <p>Email: alishbasaeed7109@gmail.com</p>
    <p>Address: 221, bakers street, London</p>
    <p>Phone: 0900-78601</p>
    <p>
    Message:<br>
    ----------
    </p>
    <p>Thanks for shopping with us!</p>
  </body>
</html>
